@import 'tailwindcss';

body {
  background: white;
  background-image: radial-gradient(#aaa 1px, transparent 0);
  background-size: 20px 20px;
  background-position: -19px -19px;
  transition: all ease 0.5s;
}