---
import Button from "./Button.astro"
---

<div class="relative flex justify-center items-center gap-2 font-[ShootingStar] text-xl">
  <Button title="ABOUT &nbsp;ME" src="/about_me_button.png" alt="About me button"/>
  <Button title="Projects" src="/projects_button.png" alt="Projects button"/>
  <Button title="Contact" src="/contact_button.png" alt="Contact button"/>
</div>