---
import Button from "./Button.astro"
---

<div class="relative flex justify-center items-center gap-2 font-[ShootingStar] text-xl">
  <Button title="ABOUT &nbsp;ME" src="/public/about_me_button.png" alt="About me button"/>
  <a href="#projects" class="rounded-xs bg-[#F7A5A5] h-15 flex justify-around items-center pl-15 pr-15 relative">PROJECTS</a>
  <a href="#contact" class="rounded-r-full bg-[#FFDBB6] h-15 flex justify-around items-center pl-15 pr-15 relative origin-bottom-left">CONTACT</a>
</div>

<style>
  a, p {
    transition: all ease 0.5s;
    text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000,
                1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
  }

  a:hover {
    filter: saturate(3);
    top: 10px;
  }

  a:first-child:hover {
    transform: rotate(-10deg);
  }

  a:last-child:hover {
    transform: rotate(10deg);
  }

  .fall {
    transition: all 1.5s;
    transform-origin: 50% 50% !important;
    top: 1000px !important;
    transform: rotate(360deg) !important;
    opacity: 0;
  }
</style>

<script>
  const links = document.querySelectorAll('a')
  links.forEach(link => {
    link.addEventListener('click', () => {
      link.classList.add('fall')
      setTimeout(() => {
        link.classList.remove('fall')
      }, 2000)
    })
  })
</script>