<div class="relative flex justify-center items-center gap-2">
  <a href="#about-me" class="text-white font-[ScienceGothic] rounded-l-full bg-red-400 h-15 flex justify-around items-center pl-15 pr-15 relative">ABOUT ME</a>
  <a href="#projects" class="text-white font-[ScienceGothic] rounded-xs bg-red-400 h-15 flex justify-around items-center pl-15 pr-15 relative">PROJECTS</a>
  <a href="#contact" class="text-white font-[ScienceGothic] rounded-r-full bg-red-400 h-15 flex justify-around items-center pl-15 pr-15 relative">CONTACT</a>
</div>

<style>
  a {
    top: 0;
    transition: all ease 0.5s;
    background: #833AB4;
  }

  a:nth-child(1) {
    background: linear-gradient(90deg,rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 100%, rgba(252, 119, 54, 1) 0%, rgba(252, 176, 69, 1) 0%);
  }

  a:nth-child(2) {
    background: linear-gradient(90deg,rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 0%, rgba(252, 119, 54, 1) 100%, rgba(252, 176, 69, 1) 0%);
  }

  a:nth-child(3) {
    background: linear-gradient(90deg,rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 0%, rgba(252, 119, 54, 1) 0%, rgba(252, 176, 69, 1) 100%);
  }

  a:hover {
    top: 10px;
    filter: saturate(3)
  }
</style>