<div class="no-underline text-white font-[ScienceGothic] rounded-2xl flex justify-around items-center bg-red-400 h-15 text-2xl">
  <a href="#">ABOUT ME</a>
  <a href="#">PROJECTS</a>
  <a href="#">CONTACT</a>
</div>