<div class="relative flex justify-center items-center gap-2 font-[ShootingStar] text-2xl">
  <a href="#about-me" class="rounded-l-full bg-[#5D688A] h-15 flex justify-around items-center pl-15 pr-15 relative">ABOUT &nbspME</a>
  <a href="#projects" class="rounded-xs bg-[#F7A5A5] h-15 flex justify-around items-center pl-15 pr-15 relative">PROJECTS</a>
  <a href="#contact" class="rounded-r-full bg-[#FFDBB6] h-15 flex justify-around items-center pl-15 pr-15 relative">CONTACT</a>
</div>

<style>
  a {
    top: 0;
    transition: all ease 0.5s;
    border: 2px dashed black;
    text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000,
                1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
  }

  a:hover {
    top: 10px;
    filter: saturate(3)
  }
</style>