---
import AboutMe from "./AboutMe.astro"
import Header from "./Header.astro"
---
<div class="flex flex-col gap-10 p-10">
	<Header/>
	<div>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem debitis facilis et alias. Repudiandae quidem similique autem. Quis optio excepturi quisquam quia reiciendis voluptas neque, ipsum laudantium voluptatum, nihil numquam?
		Vero, alias. A obcaecati iste dolor enim commodi blanditiis perferendis molestias, cum corrupti quam dolores corporis earum expedita veritatis laborum minus fugiat error inventore temporibus rem placeat quas magnam amet!
		Molestiae voluptates, facere fugit aspernatur saepe exercitationem quia aliquid neque placeat alias enim rem nihil, facilis repudiandae eaque quo. Voluptatibus unde dolor soluta asperiores qui odio minus sint enim architecto.
		Unde esse nam itaque maxime tempore rem illo quo ab at totam! Incidunt sit, magni cumque nihil soluta, autem veritatis odit dolores, nostrum quidem voluptatum libero recusandae neque est eius.
		Iste, nobis. Qui, quis ipsum nisi non reiciendis doloribus mollitia! Quis molestias corporis nam minima quo cum vero iure enim, dolores maxime ab, labore repellendus quibusdam facere magnam. Laudantium, omnis!
		Excepturi sapiente debitis officia accusamus blanditiis tenetur corporis dolorem cumque accusantium, enim maiores laboriosam sequi cupiditate. Ab odit, ut, suscipit vero esse placeat maxime ullam quos, porro dolore dolores. Ex?
		Incidunt suscipit est autem molestiae illum expedita obcaecati aliquam. Dolores, modi. Voluptate facere debitis quasi beatae cupiditate impedit odio excepturi tempora alias aut culpa sapiente, fugit sint doloremque mollitia ipsam.
		Neque provident explicabo, cupiditate magni sapiente, perferendis, quidem ut quo et eum error est. Quia sed nam a ad, laboriosam sit distinctio nisi enim expedita blanditiis fuga. Nostrum, expedita minus.
		Dolor, tempore sit! Eius, voluptates magnam qui consequuntur pariatur, iure repellendus sit molestiae totam itaque sint quae autem ipsam. Debitis enim consequatur ipsam earum. Ut distinctio blanditiis iusto repellat beatae?
		Repudiandae fuga, magnam laboriosam, ad veritatis iure quaerat quasi autem necessitatibus consectetur assumenda exercitationem iusto impedit sapiente. Suscipit odit voluptas nostrum vero minima adipisci aspernatur accusantium quidem alias? Autem, animi.
		Unde, impedit quo incidunt quia commodi consectetur maiores optio inventore, non at placeat. Quibusdam assumenda provident minus quos id, ut nobis voluptatibus iure numquam dolor modi culpa, sequi adipisci nihil.
		Dolorum temporibus ipsa dolores eveniet velit natus, obcaecati non! Porro, distinctio. Corporis commodi exercitationem consequatur harum error consectetur accusantium neque dolorem, voluptatum quia quas voluptates laborum totam suscipit amet necessitatibus.
		Tempora sint ratione excepturi molestias, tempore atque, optio itaque corporis ab aliquam sapiente amet. Iure molestiae, qui dolorum odit recusandae autem necessitatibus numquam voluptates nulla nesciunt enim tempora. Atque, natus.
		Ducimus, illo. Nostrum voluptates velit voluptatibus temporibus enim, vero facere maxime odit, obcaecati numquam quos incidunt magni est, at deserunt necessitatibus quam voluptate eius laborum minus. Cum id nostrum modi?
		</p>
	</div>
	<AboutMe/>
</div>

<style>
  div {
    /*background-image: url('/bg-45-line.png');
		filter: invert();
		backg*/
  }
</style>