---
import FpsCounter from "./FpsCounter.astro"
---

<div id="paper-plane" class="fixed inset-0 pointer-events-none z-1000"></div>
<FpsCounter fps={10}/>

<script>
  const fpsCounter = document.querySelector('#fps-counter')
  
  import * as THREE from 'three'
  import { GLTFLoader, type GLTF } from 'three-stdlib'
  
  const container = document.querySelector('#paper-plane')
  if(container === null) throw new Error("Paper plane container not found. Unable to render plane")
  const scene = new THREE.Scene()
  const camera = new THREE.PerspectiveCamera(70, window.innerWidth / window.innerHeight, 0.1, 100)
  camera.position.set(0, 1, 5)
  const renderer = new THREE.WebGLRenderer({ alpha: true })
  renderer.setSize(window.innerWidth, window.innerHeight)
  container.appendChild(renderer.domElement)
  const light = new THREE.DirectionalLight()
  light.position.set(5,5,5)
  scene.add(light)
  const plane = await loadPlane()
  plane.scale.set(0.01,0.01,0.01)
  scene.add(plane)
  
  let scale = 0.1
  let pos = {
    x: -1,
    y: -1,
    z: -1
  }
  let speed = 0

  let frames = 0, prevTime = performance.now();

  function animate() {
    requestAnimationFrame(animate)
    renderer.render(scene, camera)
    scale -= 0.0001
    if(scale <= 0.01) scale = 0.01
    plane.scale.set(scale, scale, scale)
    plane.rotateX(0.001)
    plane.rotateY(0.001)
    plane.position.set(pos.x, pos.y, pos.z)
    speed += 0.0001
    pos.x += speed
    pos.y += speed

    const time = performance.now();
    frames++
    if ( time >= prevTime + 1000 ) {
      const fps = Math.round( ( frames * 1000 ) / ( time - prevTime ) ) 
      if(fpsCounter !== null) {
        fpsCounter.textContent = `${fps} FPS`
      }
      
      frames = 0;
      prevTime = time;
      
    }
  }

  //plane.position.set(6, 0, 0)
  
  animate()

  function loadPlane(): Promise<THREE.Group<THREE.Object3DEventMap>> {
    let plane = null
    const loader = new GLTFLoader()
    return new Promise((resolve, _) => {
      loader.load('/public/paper_plane.glb', model => {
        plane = model.scene
        resolve(plane)
      })
    })
  }

</script>